// Styles mainly from: https://codepen.io/avstorm/pen/jxjKGj
@use "../util/dark-mode" as dark-mode;

@mixin index($color-primary, $color-border, $color-control-disabled) {
  .phlib__radio-group {
    display: flex;
    flex-direction: column;

    .phlib__radio-buttons {
      display: flex;
      flex-flow: column;
    }

    .phlib__radio-button {
      position: relative;
      cursor: pointer;
      line-height: 20px;
      font-size: 1rem;
      margin: 0.5em 0;

      .phlib__radio-button-label {
        position: relative;
        display: block;
        float: left;
        margin-inline-end: 10px;
        width: 20px;
        height: 20px;
        border: 2px solid $color-border;
        border-radius: 100%;
        -webkit-tap-highlight-color: transparent;

        @include dark-mode.index {
          --dark-mode-color-gray: #b7b3b3;

          border-color: var(--dark-mode-color-gray);
        }

        [dir="rtl"] & {
          float: right;
        }

        &::after {
          z-index: 1;
          content: "";
          position: absolute;
          top: 3px;
          left: 3px;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background: $color-primary;
          transform: scale(0);
          transition: all 0.2s ease;
          opacity: 0.08;
          pointer-events: none;
        }
      }

      &:hover {
        .phlib__radio-button-label {
          &::after {
            z-index: 1;
            transform: scale(3.6);
          }
        }
      }
    }

    input[type="radio"]:active + .phlib__radio-button-label,
    input[type="radio"]:focus + .phlib__radio-button-label {
      &::after {
        z-index: 1;
        transform: scale(3.6);
      }
    }

    input[type="radio"]:checked {
      & + .phlib__radio-button-label {
        border-color: $color-primary;

        &::after {
          transform: scale(1);
          transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
          opacity: 1;
        }
      }
    }

    input[type="radio"]:disabled {
      & + .phlib__radio-button-label {
        cursor: not-allowed;
        border-color: $color-control-disabled;

        &::after {
          transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
          opacity: 1;
          background: $color-control-disabled;
        }
      }

      &:not(:checked) {
        & + .phlib__radio-button-label {
          background-color: $color-control-disabled;
          border-color: transparent;
        }
      }

      &:hover {
        & + .phlib__radio-button-label {
          &::after {
            display: none;
          }
        }
      }
    }

    .phlib_radio-hidden {
      opacity: 0;
      width: 0;
      margin: 0;
    }
  }
}
