// Based on: https://codepen.io/avstorm/pen/gKGbxo
@use "sass:math";
@use "../../../common/styles/partials/radio-buttons" as radio-buttons;
@use "../../../common/styles/partials/select" as select;

.phlib-material {
  --color-primary: #07f;
  --color-dark: #000;
  --color-error: #f03;
  --color-error-light: #f8d7da;
  --color-label: rgb(0 0 0 / 50%);
  --color-background: rgb(0 0 0 / 6%);
  --color-background-disabled: rgb(0 0 0 / 14%);
  --md-control-item-border: #c8ccd4;
  --md-control-color-disabled: rgb(0 0 0 / 26%);
  --md-checkmark-color: #fff;

  @media (prefers-color-scheme: dark) {
    --color-dark: #fff;
    --color-label: #b7b3b3;
    --color-background: rgb(249 250 251 / 10%);
    --color-background-disabled: rgb(249 250 251 / 20%);
    --md-control-item-border: transparent;
    --md-control-color-disabled: #787b7e;
    --md-checkmark-color: #fff;
  }

  $md-checkbox-size: 1.25em;
  $md-checkbox-padding: 0.25em;
  $md-checkbox-border-width: 2px;
  $md-checkbox-border-radius: 0.125em;
  $md-checkmark-width: 0.125em;
  $md-checkbox-label-padding: 0.75em;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .phlib__field-wrapper {
    position: relative;
    margin-bottom: 1em;
    width: 100%;
  }

  .phlib__multiple-fields-row {
    display: flex;
    grid-gap: 1em;
    margin-bottom: 1em;

    .phlib__field-wrapper {
      margin-bottom: 0;

      input {
        margin-bottom: 0;
      }
    }
  }

  // Styles from https://codepen.io/hansmaad/pen/qaGMQL
  .phlib__checkbox-wrapper {
    position: relative;
    text-align: left;

    [dir="rtl"] & {
      text-align: initial;
    }

    label {
      user-select: none;
      cursor: pointer;
      display: inline;
      line-height: $md-checkbox-size;
      vertical-align: top;
      clear: both;

      &:not(:empty) {
        padding-inline-start: $md-checkbox-label-padding;
      }

      &::before {
        // box
        width: $md-checkbox-size;
        height: $md-checkbox-size;
        background: #fff;
        border: $md-checkbox-border-width solid var(--md-control-item-border);
        border-radius: $md-checkbox-border-radius;
        cursor: pointer;
        transition: background 0.3s;

        @media (prefers-color-scheme: dark) {
          background-color: transparent;
          border-color: var(--color-label);
        }
      }

      [dir="rtl"] & {
        padding-inline-start: 2em;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;

        [dir="rtl"] & {
          right: 0;
          left: initial;
        }
      }
    }

    input[type="checkbox"] {
      outline: 0;
      opacity: 0;
      width: $md-checkbox-size;
      margin: 0;
      display: block;
      float: left;
      font-size: inherit;

      &:checked {
        + label::before {
          background: var(--color-primary);
          border: none;
        }

        + label::after {
          $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

          transform:
            translate(
              $md-checkbox-padding,
              math.div($md-checkbox-size, 2) - math.div($md-checkmark-size, 2.6)
            ) rotate(
              -45deg
            );
          width: $md-checkmark-size;
          height: math.div($md-checkmark-size, 2);
          border: $md-checkmark-width solid var(--md-checkmark-color);
          border-top-style: none;
          border-right-style: none;

          [dir="rtl"] & {
            transform:
              translate(
                -$md-checkbox-padding,
                math.div($md-checkbox-size, 2) - math.div($md-checkmark-size, 2.6)
              ) rotate(
                -45deg
              );
          }
        }
      }

      &:disabled {
        + label::before {
          background: var(--md-control-color-disabled);
          border-color: transparent;

          @media (prefers-color-scheme: dark) {
            background-color: var(--color-background-disabled);
          }
        }
      }
    }
  }

  .phlib__field-label {
    position: absolute;
    top: 1.25rem;
    left: 0.75rem;
    color: var(--color-label);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;

    [dir="rtl"] & {
      right: 0.75rem;
      left: auto;
    }
  }

  .phlib__select--small-label {
    .phlib__field-label {
      color: var(--color-primary);
      transform: translate3d(0, -12px, 0) scale(0.75);

      + .phlib__material-bg-focus {
        transform: scaleX(1);
        transition: all 0.1s ease;
      }
    }
  }

  .phlib__input-text {
    padding: 0 0.75rem;
  }

  .phlib__input-select {
    padding: 0 0.75rem;
  }

  .phlib__input-text,
  .phlib__input-select, {
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: 400;
    background: var(--color-background);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 30%);
    color: var(--color-dark);
    transition: all 0.15s ease;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    &::placeholder {
      color: transparent;
    }

    &:hover {
      background: rgb(0 0 0 / 4%);
      box-shadow: inset 0 -1px 0 rgb(0 0 0 / 50%);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-background);
      }
    }

    &:focus {
      background: rgb(0 0 0 / 5%);
      outline: none;
      box-shadow: inset 0 -2px 0 var(--color-primary);

      @media (prefers-color-scheme: dark) {
        background-color: var(--color-background);
      }
    }

    &:disabled {
      background-color: var(--color-background-disabled);
      color: var(--md-control-color-disabled);
      cursor: not-allowed;
    }

    /* stylelint-disable no-descending-specificity */
    &:not(:placeholder-shown) + .phlib__field-label {
      color: var(--color-primary);
      transform: translate3d(0, -12px, 0) scale(0.75);
    }
    /* stylelint-enable no-descending-specificity */
  }

  .phlib__has-label {
    .phlib__input-text,
    .phlib__input-select {
      padding-top: 1rem;
    }
  }

  .phlib__error-message {
    font-size: 0.9rem;

    ul {
      margin: {
        top: 1em;
        bottom: 0;
      };

      color: var(--color-error);
      padding: 0;
      list-style-type: none;
    }

    li {
      margin-bottom: 0.25rem;

      &::before {
        content: "–";
        text-indent: -5px;
        margin-inline-end: 0.5rem;
      }
    }
  }

  @include radio-buttons.index(var(--color-primary), var(--md-control-item-border), var(--md-control-color-disabled));

  .phlib__radio-group-label {
    color: rgb(0 0 0 / 60%);
    margin-bottom: 0.5em;
  }

  @include select.index(var(--color-primary));
}
