// Based on: https://codepen.io/avstorm/pen/gKGbxo
@use "sass:math";

.phlib-material {
  $primary: #07f;
  $dark: #000;
  $color-error: #dc3545;
  $color-error-light: #f8d7da;
  $md-checkbox-border-color: rgb(0 0 0 / 54%);
  $md-checkbox-border-color-disabled: rgb(0 0 0 / 26%);
  $md-checkbox-checked-color-disabled: rgb(0 0 0 / 26%);
  $md-checkbox-size: 1.25em;
  $md-checkbox-padding: 0.25em;
  $md-checkbox-border-width: 2px;
  $md-checkbox-border-radius: 0.125em;
  $md-checkmark-width: 0.125em;
  $md-checkmark-color: #fff;
  $md-checkbox-label-padding: 0.75em;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .phlib__field-wrapper {
    position: relative;
    margin-bottom: 1em;
    width: 100%;
    overflow: hidden;
  }

  .phlib__multiple-fields-row {
    display: flex;
    grid-gap: 1em;
    margin-bottom: 1em;

    .phlib__field-wrapper {
      margin-bottom: 0;

      input {
        margin-bottom: 0;
      }
    }
  }

  // Styles from https://codepen.io/hansmaad/pen/qaGMQL
  .phlib__checkbox-wrapper {
    position: relative;
    text-align: left;

    label {
      user-select: none;
      cursor: pointer;
      display: inline;
      line-height: $md-checkbox-size;
      vertical-align: top;
      clear: both;
      padding-left: 1px;

      &:not(:empty) {
        padding-left: $md-checkbox-label-padding;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
      }

      &::before {
        // box
        width: $md-checkbox-size;
        height: $md-checkbox-size;
        background: #fff;
        border: $md-checkbox-border-width solid $md-checkbox-border-color;
        border-radius: $md-checkbox-border-radius;
        cursor: pointer;
        transition: background 0.3s;
      }

      &::after {
        // checkmark
      }
    }

    input[type="checkbox"] {
      outline: 0;
      visibility: hidden;
      width: $md-checkbox-size;
      margin: 0;
      display: block;
      float: left;
      font-size: inherit;

      &:checked {
        + label::before {
          background: $primary;
          border: none;
        }

        + label::after {
          $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

          transform:
            translate(
              $md-checkbox-padding,
              math.div($md-checkbox-size, 2) - math.div($md-checkmark-size, 2.6)
            ) rotate(
              -45deg
            );
          width: $md-checkmark-size;
          height: math.div($md-checkmark-size, 2);
          border: $md-checkmark-width solid $md-checkmark-color;
          border-top-style: none;
          border-right-style: none;
        }
      }

      &:disabled {
        + label::before {
          border-color: $md-checkbox-border-color-disabled;
        }

        &:checked {
          + label::before {
            background: $md-checkbox-checked-color-disabled;
          }
        }
      }
    }
  }

  .phlib__field-label {
    position: absolute;
    top: 1.25rem;
    left: 0.75rem;
    color: rgba($dark, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  &:focus + .phlib__field-label {
    color: $primary;
    transform: translate3d(0, -12px, 0) scale(0.75);

    + .phlib__material-bg-focus {
      transform: scaleX(1);
      transition: all 0.1s ease;
    }
  }

  .phlib__input-text,
  .phlib__input-textarea,
  .phlib__input-select, {
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 1rem 0.75rem 0;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: 400;
    background: rgba($dark, 0.02);
    box-shadow: inset 0 -1px 0 rgba($dark, 0.3);
    color: $dark;
    transition: all 0.15s ease;

    &::placeholder {
      color: transparent;
    }

    &:hover {
      background: rgba($dark, 0.04);
      box-shadow: inset 0 -1px 0 rgba($dark, 0.5);
    }

    &:focus {
      background: rgba($dark, 0.05);
      outline: none;
      box-shadow: inset 0 -2px 0 $primary;
    }

    /* stylelint-disable no-descending-specificity */
    &:not(:placeholder-shown) + .phlib__field-label {
      color: rgba($dark, 0.5);
      transform: translate3d(0, -12px, 0) scale(0.75);
    }
    /* stylelint-enable no-descending-specificity */
  }

  .phlib__error-message {
    font-size: 0.9rem;

    ul {
      margin: {
        top: 1em;
        bottom: 0;
      };

      padding-left: 0;
      list-style-type: none;
    }

    li {
      margin-bottom: 0.25rem;

      &::before {
        content: "–";
        text-indent: -5px;
        margin-right: 0.5rem;
      }
    }
  }
}
