@use "../../../common/styles/partials/radio-buttons" as radio-buttons;
@use "../../../common/styles/partials/select" as select;

.phlib-basic {
  --color-primary: #007bff;
  --color-primary-light: #e9f2ff;
  --color-error: #dc3545;
  --color-error-light: #f8d7da;
  --color-border: rgb(209 213 219);
  --color-control-disabled: rgb(0 0 0 / 26%);

  * {
    box-sizing: border-box;
  }

  .phlib__field-wrapper {
    width: 100%;
    margin-bottom: 1em;
  }

  .phlib__multiple-fields-row {
    display: flex;
    grid-gap: 1em;
    margin-bottom: 1em;

    .phlib__field-wrapper {
      margin-bottom: 0;

      input {
        margin-bottom: 0;
      }
    }
  }

  .phlib__checkbox-wrapper {
    display: flex;
    align-items: center;
  }

  .phlib__input-text,
  .phlib__input-textarea,
  .phlib__input-select, {
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 0 0.75rem;
    line-height: 2.75rem;
    border: 1px solid var(--color-border);
    border-radius: 0.35rem;
    background-color: rgb(249 250 251);
    appearance: none;
    margin-bottom: 0;

    &:focus {
      border-color: var(--color-primary);
      outline: var(--color-primary) solid 1px;
      background-color: var(--color-primary-light);
    }

    &:disabled {
      background-color: #e9ecef;
      border-color: #e9ecef;
      cursor: not-allowed;
    }

    &.phlib__field-error {
      border-color: var(--color-error);
      background-color: var(--color-error-light);
    }
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.9em;
    height: 0.9em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-primary);

    /* Windows High Contrast Mode */
    background-color: canvastext;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: {
      top: 0;
      right: 1em;
      bottom: 0;
      left: 0;
    };

    font: inherit;
    color: currentcolor;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.15rem solid var(--color-border);
    border-radius: 0.15rem;
    transform: translateY(-0.075rem);
    display: grid;
    place-content: center;

    [dir="rtl"] & {
      margin: {
        right: 0;
        left: 1em;
      };
    }

    &:disabled {
      appearance: unset;
      background-color: var(--color-control-disabled);
      border-color: transparent;
      cursor: not-allowed;
    }

    &:disabled::before {
      box-shadow: inset 1em 1em #fff;
    }
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  @mixin label-base {
    font-size: 1rem;
    color: rgb(17 24 39);
    font-weight: 600;
  }

  .phlib__field-label {
    @include label-base;

    display: block;
    margin-bottom: 5px;
  }

  .phlib__checkbox-label {
    @include label-base;
  }

  .phlib__error-message {
    margin: 0.5em 0;
    font-size: 0.9rem;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    li {
      margin-bottom: 0.25rem;

      &::before {
        content: "–";
        text-indent: -5px;
        margin-inline-end: 0.5rem;
      }
    }
  }

  @include radio-buttons.index(var(--color-primary), var(--color-border), var(--color-control-disabled));

  .phlib__radio-group-label {
    @include label-base;
  }

  @include select.index(var(--color-primary));
}
